{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Home
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/posts.css" %}">
<link rel='stylesheet' href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}

<section id='welcome'>
    <header>
        <img src="{% static "blog/images/Profile img.jpg" %}" alt='mia winters - author of this page' />
        <h2>Omkar Tikare's</h2>
        <span class="blog"> <h2>Blog</h2> </span>
    </header>
    <p>Hey People! Welcome to my blog site I'm Omkar a full stack developer. I love posting blogs about my work, my learing, games and stuff. </p>
</section>

<section id='latest-post'>
<h2>My latest posts</h2>
    <ul> 
        {% for post in posts %}
       {% include "blog/includes/posts.html" %}
       {% endfor %}
    </ul>
</section>

<section id='about'>
<h2>About me</h2>
<p>Iam a Python and Fullstack developer</p>
<a href="mailto:omkartikare55@gmail.com">Contact Me</a>
<br>
<a href="mailto:omkartikare55@gmail.com">omkartikare55@gmail.com</a>
</section>

{% endblock %}